<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}">
</head>
<body>
    <div class="container">
        <header>
            <a class=title-link href="{{url_for('weather_controller.show_weather')}}"><h1>Weather App</h1></a>
            <div>
                {% if not current_user.is_authenticated %}
                    <a href="{{url_for('auth_controller.register')}}" class="link btn-register">Register</a>
                    <a href="{{url_for('auth_controller.login')}}" class="link">Login</a>
                {% else %}
                    <a href="{{url_for('auth_controller.logout')}}" class="link">Logout</a>
                {% endif %}
            </div>
        </header>
        <div class="weather-widget">
            <h2 class="city">Something went wrong</h2>
            <p>{{ error_message }}</p>
            <form action="">
                <input type="text" name="city" placeholder="Enter city name">
                <button class="btn" type="submit">Get Weather</button>
            </form>
        </div>
    </div>
</body>
</html>