<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Weather App</h1>
            <div>
                {% if not current_user.is_authenticated %}
                    <a href="{{url_for('auth_controller.register')}}" class="link btn-register">Register</a>
                    <a href="{{url_for('auth_controller.login')}}" class="link">Login</a>
                {% else %}
                    <a href="{{url_for('auth_controller.logout')}}" class="link">Logout</a>
                {% endif %}
            </div>
        </header>
        <form class="form-container" method="post">
            <div class="form-title">Login</div>
            {{ form.hidden_tag() }}
            <div>
                {{ form.name.label }}
                {{ form.name(size=32) }}
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit(class='btn') }}
            </div>
    </div>
</body>
</html>